.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}
.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 5px;
}

.alert li {
    margin-left:15px;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    color: inherit;
    text-decoration: none;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}