.setup form {
    margin: auto auto;
    width: min(350px, 100%);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
    grid-row-gap: 3px;
    align-items: center;
}

